@charset "utf-8";



body{
    background-color: rgb(206, 205, 205);
}

main{
    margin: auto;
    width: 300px;
    background-color: white;
    color: white;
}

.part1{
    background-image: linear-gradient(to top, rgb(38, 0, 255), rgb(105, 105, 214)
    );
    text-align: center;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.bola{
    background-color: rgb(3, 3, 151);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    
}

.nota{
    padding-top: 10px;
    font-size: 2em;
    margin-bottom: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.part1 h1{
    margin-bottom: -8px;
}

.part2 h1{
    color: black;
}

.bloco1{
    display: flex;
    justify-content: space-between;
    
    background-color: #ff4a6534;
    width: 250px;
    margin: auto;
    padding: -10px;
    border-radius: 10px;
    

}

.bloco1 {
   color: black;
}

.b1{
    color: #ff4a66;
    margin-left: -105px;
}

.b2{
    margin-right: 15px;
}