@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

main{
    margin-top: 20px;
    margin-left: 10px;
}

.texto{
    width: 320px;
}

.block_img{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 340px;
    /* background-color: aquamarine; */
}

.img01{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.img02{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}


img{
    width: 130px;
    height: 190px;
    
}

/* .imgb{
    margin-right: 70px;
} */

.bill{
    display: flex;
    flex-direction: row;
}

.txt1{
    writing-mode: vertical-lr;
    font-size: 1em;
}

 .imgsaba, .imgskylah, .imgstan{
    margin-top: 60px;
}

.imgb, .imgsaba, .imgshae, .imgskylah, .imggriff, .imgstan{
    margin-right: 20px;
}