@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-corpo: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin-left: 20px;
    margin-bottom: 30px;
}

body{
    font-family: var(--font-corpo);
    font-weight: 500;
    
}

.duplo{
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloco1{
    width: 340px;
    height: 400px;
    background-color: lightgrey;
    margin-left: 10px;
    border-radius: 10px;
}

.b1{
    display: flex;
    flex-direction: row;
    align-content: baseline;
    font-size: 0.50em;
}



span{
    color: rgb(179, 118, 5);
    font-size: 1.4em;
}

.img1{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 10px;
}

.img2{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.info{
    margin-top: 20px;
}

.info1{
    margin-top: 10px;
}

.txt{
    margin-bottom: 10px;
}

.form1{
    margin-top: 38px;
}

.teste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    
}

.linha1{
    margin-top: 70px;
}

.bloco2{
    /* margin-top: 40px; */
    margin-left: 10px;
}

h2{
    margin-top: 50px;
}

form{
    margin-top: 10px;
    border-radius: 10px;
}

textarea{
    width: 330px;
}

button{
    color: white;
    background-color: rgb(236, 90, 5);
    border: none;
    width: 155px;
    height: 50px;
    border-radius: 10px;
    
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 0px;
    margin-top: 20px;
    width: 340px;
    
}

.botao p{
    font-size: 1.2em;
}

.cemail{
    /* background-image: url("../imagens/Bogo-D-Project-Envelope.32.png");
    background-repeat: no-repeat; */
    /* width: 50px; */
    height: 40px;
    border-radius: 5px;
    width:340px
}

.cphone{
    /* background-image: url("../imagens/outline_local_phone_black_24dp.png");
    background-repeat: no-repeat; */
    /* width: 50px; */
    height: 40px;
    border-radius: 5px;
    width:340px
}

.cname{
    height: 40px;
    border-radius: 5px;
    width:340px
}

.caddress{
    height: 40px;
    border-radius: 5px;
    width:340px

}

.ccity{
    height: 40px;
    border-radius: 5px;
    width:340px
}

.ccountry{
    height: 40px;
    border-radius: 5px;
    width: 155px;
}

.ccode{
    height: 40px;
    border-radius: 5px;
    width: 155px;
}
